@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #f8f9fa;
    --clr-2: #f1f3f5;
    --clr-3: #e9ecef;
    --clr-4: #000000;
    --clr-5: #ced4da;
}


.card {
    height: 3rem;
    width: 12rem;
    background: #000000;
    border-radius: 40px;
    position: relative;
    
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle),
            var(--clr-3),
            var(--clr-4),
            var(--clr-5),
            var(--clr-4),
            var(--clr-3));
    border-radius: inherit;
    animation: rotation 2.5s linear infinite;
}

.card::after {
    filter: blur(4rem);
}

.card:hover span {
    background: #000;
    color: #000;
    position: relative;
}

.card:hover span::after {
    content: "→"; 
    position: absolute;
    right: -20px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    transition: right 0.3s ease; 
}

.card span::after {
    content: "→"; 
    color: white;
    position: absolute;
    right: -40px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    opacity: 0; 
    transition: right 0.3s ease, opacity 0.3s ease;
}

.card:hover span::after {
    opacity: 1;
    right: -20px; 
}


@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}